.link-hover:hover{
    color: #000;
    font-weight: bolder;
    font-size: 16px;
}
.reset-password, .contact-form, .login-form, .register-form {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: -5px 9px 18px 0px #3a3a3a;
	padding-bottom:25px;
}
.reset-password{
	max-width: 600px;
}
.contact-form{
	max-width: 500px;
}
.login-form{
	max-width: 340px;
}
.forgotPassword{
	text-align: center;
	color: rgb(0, 0, 0,.9);
	text-decoration: none;
	font-style: italic;
}
.forgotPassword:hover{
	color: #F37828;
}

/*ESTILOS FORMULARIO DE REGISTRO */

.register-form{
	max-width: 900px;
}

.btnRegister, .btnAccess {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    margin-top: 20px;
    background: #F37828;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.asterisco{
    color: #f00;
    font-size: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	border: 2px solid #bababa;
	border-radius: 1rem;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input_textarea {
	border: 2px solid #bababa;
	border-radius: 1rem;
	padding: 10px;
	transition: .3s ease all;
}

.formulario__input_textarea:focus {
	border: 3px solid #F37828;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__input:focus {
	border: 3px solid #F37828;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 22px;
	bottom: 14px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}


/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #28a745;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	position: absolute;
	right: 22px;
	bottom: 14px;
	z-index: 100;
	font-size: 16px;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
.formulario__grupo-correcto .formulario__input {
	border: 3px solid #28a745;
}

.formulario_select_validacion:valid{
	border: 3px solid #28a745;
}