.img-responsive {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 3/2;
}
.card-product {
    max-width: 300px;
    min-width: 300px;
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}
.card-head {
    display: flex;
    align-items: center;
    height: 252px;
    background: #F37828;
    background: linear-gradient(135deg, #F37828 8%, #c82930 83%);
    border-radius: 25px 25px 0 0;
}

.card-body {
    min-height: 255px;
    background-color: #fff;
    border-radius: 0 0 25px 25px;
    padding: 10px 20px;
}

.product-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.product-desc {
    display: flex;
    flex-direction: column;
}

.product-properties {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.badge-status {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background: #198754;
    padding: 2px 5px;
    border-radius: 5px;
}

.product-caption {
    display: block;
    padding: 10px;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-price {
    background: #198754;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    border-radius: 7px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.button-detail {
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin: auto;
    padding: 10px;
    width: 50%;
    background-image: linear-gradient(to right, #c82930 0%, #F37828  51%, #c82930  100%);
    background-size: 200% auto;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.button-detail:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.button-detail:disabled {
    background-image: none;
    background-color: #f3792867;
}
.grow {
    transition: .4s, color .10s;
    -webkit-transition: .4s, color .10s;
    -moz-transition: .4s, color .10s;
}

.grow:hover {
    transform: scale3d(1.07, 1.07, 2);
    -webkit-transform: scale3d(1.07, 1.07, 2);
    -moz-transform: scale3d(1.07, 1.07, 2);
}