.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navigation-link {
    font-weight: 500;
    color: #000;
    margin: 10px;
    text-decoration: none;
    transition: .4s;
    position: relative;
}

.navigation-link:hover {
    color: #fff;
}

.navigation-link::before {
    content: "";
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.navigation-link:hover::before,
.navigation-link:target::before {
    transform: scaleX(1);
}

.button-menu {
    display: none;
}     
.swing:hover{
    animation-name: swing;
        -webkit-animation-name: swing;
        -moz-animation-name: swing;
    animation-duration: 1.4s;
        -webkit-animation-duration: 1.4s;
        -moz-animation-duration: 1.4s;
    animation-iteration-count: infinite;
        -webkit-animation-iteration-count: 1.4s;
        -moz-animation-iteration-count: 1.4s;
}
@keyframes swing {
    20% {transform: rotate3d(0, 0, 1, 15deg);}
    40% {transform: rotate3d(0, 0, 1, -10deg);}
    60% {transform: rotate3d(0, 0, 1, 5deg);}
    80% {transform: rotate3d(0, 0, 1, -5deg);}
    to  {transform: rotate3d(0, 0, 1, 0deg);}
}
              
@media only screen and (max-width:480px) {
    .section-navbar-main{
        flex-direction: column;
    }
    .section-navbar-main > article{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all .2s linear;
        background-color: rgba(0, 0, 0, .7);
        z-index: 100;
    }
    .navbar.show{
        margin-left: 0;
        padding: 0px;
    }
    .nav-links {
        background-color: rgba(250, 250, 250, 0.569);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
      }
    

    .button-menu {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: none;
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        text-align: center;
    }

    .button-menu span {
        width: 35px;
        height: 4px;
        position: relative;
        background: #000;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all .2s linear;
    }

    .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(-5px, 0px);
        background: #111;
        position: fixed;
        left: 50%;
    }

    .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-15px, 5px);
    }

    .button-menu.close span:nth-child(3) {
        display: none;
    }
}