{% extends 'baseIndex.html' %}
{% block title %} Recuperar cuenta{% endblock title %}


{% block content %}
    {% if messages %}
      {% for m in messages %}
          {% if m.tags == 'success' %}
              <script type="text/javascript">
                  const mensajeExito = ()=>{
                      const Toast = Swal.mixin({
                          toast: true,
                          position: 'top-end',
                          showConfirmButton: false,
                          timer: 3000,
                          timerProgressBar: true,
                          didOpen: (toast) => {
                          toast.addEventListener('mouseenter', Swal.stopTimer)
                          toast.addEventListener('mouseleave', Swal.resumeTimer)
                          }
                      })
                      
                      Toast.fire({
                          icon: 'success',
                          title: "{{ m }}"
                      })
                  }
                  mensajeExito();
              </script>
          {% else %}
          <script type="text/javascript">
              const mensajeError = ()=>{
                  Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: '{{ m }}'
                  })
              }
              mensajeError();
          </script>
          {% endif %}
      {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="container w-50 reset-password">
            <h3 class="col-sm-12 text-center py-3">¿Olvidaste tu contraseña?</h3>
            <div class="col-sm-12 form-group text-center" id="">
                <p>Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>
                <input type="text" name="email" id="correo" class="form-control formulario__input text-center"  placeholder="ej: example@gmail.com" required/>
                <div class="col-sm-12 form-group text-center">
                    <input type="submit" name="Send email" class="btnAccess" value="Enviar"/>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}