{% extends 'baseIndex.html' %}
{% block css %}
    <script src="https://kit.fontawesome.com/9c6f82517c.js" crossorigin="anonymous"></script> 
{% endblock css %}
{% block title %} Busqueda{% endblock title %}

{% block content %}
    <div class="container">
        {% if count == 1 %}
            <p class="bg-white mx-2 p-3"><span class="fw-bold">{{count}} resultado coincidente para: </span>{{ query }}</p>
        {% else %}
            <p class="bg-white mx-2 p-3"><span class="fw-bold">{{count}} resultados coincidentes para: </span>{{ query }}</p>
        {% endif %}
    </div>
    <div class="container d-flex flex-wrap justify-content-around gap-4">
        {% for p in product_list  %}
        <div class="card-product grow">
            <div class="card-head">
              <img
                src="{{p.image_product.url}}"
                alt="{{p.name}} imagen"
                width="200px"
                height="200px"
                class="img-responsive"
              />
            </div>
            <div class="card-body">
              <div class="product-desc">
                <span class="product-title">
                  <strong>{{p.name}}</strong>
                  {% if p.status == 0 and p.stock != 0 %}
                    <span class="badge-status">Disponible</span>
                  {% else %}
                    <span class="badge-status bg-danger">Agotado</span>
                  {% endif %}
                </span>
                <span class="product-caption"> {{p.descripction}} </span>
              </div>
              <div class="product-properties">
                {% load humanize %}
                <span class="product-price">$ {{p.price|intcomma }} COP</span>
                  {% if p.status == 0 and p.stock != 0%}
                    <a href="{% url 'product_detail' p.slug %}" class="button-detail text-white shadow fw-bold">
                      Ver detalle
                    </a>
                  {% else %}
                    <button class="button-detail text-white shadow fw-bold" disabled>
                      Ver detalle
                    </button>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock content %}