{% extends 'baseIndex.html' %}
{% block title %} Perfil{% endblock%}

{% block content %}
<div class="container p-3 d-flex bg-white justify-content-center">
    <div class="text-center shadow rounded p-4 border">
        <img src="https://cdn-icons-png.flaticon.com/512/4646/4646084.png" alt="user-image" width="200px" height="200px"/>   
        <h3 class="first_name">{{request.user.first_name}}<a href="#" id="editName">🖊️</a></h3>
        <form class="form_name d-none pt-2" method="POST" action="{% url 'Users:update_personal_information' %}">
            {% csrf_token %}
            <input type="text" name="new_name" id="new_name" class="form-control text-center formulario__input" value="{{request.user.first_name}}" required/>
            <button type="submit" id="btnSaveName" style="border:none; outline:none">🖊️</button>
        </form>
        <h3 class="last_name">{{request.user.last_name}}<a href="#" id="editLastName">🖊️</a></h3>
        <form class="form_last_name d-none pt-2" method="POST" action="{% url 'Users:update_personal_information' %}">
            {% csrf_token %}
            <input type="text" name="new_last_name" id="new_last_name" class="form-control text-center formulario__input" value="{{request.user.last_name}}" required/>
            <button type="submit" id="btnSaveLastName" style="border:none; outline:none">🖊️</button>
        </form>
        <hr>
            <h6><span class="fw-bold">Identificación:</span> {{request.user.dni}}</h6>     
            <h6><span class="fw-bold">Correo electrónico:</span> {{request.user.email}}</h6>
            <h6><span class="fw-bold">Registrado el:</span> {{request.user.date_joined.date}}</h6>
        <hr>
        <a href="{% url 'change_password' %}" class="text-muted">Cambiar contraseña</a>
    </div>
</div>
{% endblock  %}
{% block js %}
    <script>
        const firstName = document.querySelector(".first_name")
        const formName = document.querySelector(".form_name")
        const btnEditName = document.getElementById("editName")
        const lastName = document.querySelector(".last_name")
        const formLastName = document.querySelector(".form_last_name")
        const btnEditLastName = document.getElementById("editLastName")

        const inputNewName = document.getElementById("new_name")
        const inputNewLastName = document.getElementById("new_last_name")
        const btnSaveName = document.getElementById("btnSaveName")
        const btnSaveLastName = document.getElementById("btnSaveLastName")

        btnEditName.addEventListener('click',()=>{
            firstName.classList.add("d-none");
            formName.classList.remove("d-none")
            formName.classList.add("d-flex")
        })
        btnEditLastName.addEventListener('click',()=>{
            lastName.classList.add("d-none");
            formLastName.classList.remove("d-none")
            formLastName.classList.add("d-flex")
        })

        btnSaveName.addEventListener("click",(e)=>{
            if (!isNaN(inputNewName.value) || !isNaN(inputNewLastName.value)){
                e.preventDefault();
                formName.innerHTML+='<p class="fw-bold text-danger">No puedes usar números*</p>'
            }
        })
        btnSaveLastName.addEventListener("click",(e)=>{
            if (!isNaN(inputNewLastName.value)){
                e.preventDefault();
                formLastName.innerHTML+='<p class="fw-bold text-danger">No puedes usar números*</p>'
            }
        })
    </script>
{% endblock js %}