{% load static %}
<div class="shadow card border-dark">
    <div class="card-header fw-bold h4 d-flex justify-content-between " style="background-color: #F37828;">Resumen del pedido
        <img src="{% static 'img/tachuela.svg' %}" alt="" width="32" height="32" >
    </div>
    <div class="card-body">
        <div class="fw-bold h6">
            {% load humanize %}
            Costo de envio: <span class="text-danger">${{ order.shipping_total|intcomma }}</span>
        </div>
        <div class="fw-bold h6">
            {% load humanize %}
            Productos: <span class="text-danger">${{ cart.total|intcomma }}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <div class="fw-bold h6">
                {% load humanize %}
                Total a pagar: <span class="text-danger">${{ order.total|intcomma }}</span>
            </div>
            {% if btnContinue %}
                <div class="fw-bold h5">
                    <a href="{% url 'Orders:address' %}" class="btn btn-success">Continuar</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
