{% extends 'baseIndex.html' %}
{% block content %}
<div class="container p-5 reset-password d-flex justify-content-center flex-wrap">
    <form method="POST">
        {% csrf_token %}
        <div class="col-sm-12 form-group">
          {{form.as_p}}
        </div>
        <div class="col-sm-12 form-group text-center">
            <input type="submit" class="btnAccess mx-1" value="Cambiar"/>
        </div>
    </form>
    <div class="col-sm-12 mt-3">
      <input type="submit" onclick="location.href='/perfil/informacion/'" class="btn btn-warning" value="Volver"/>
    </div>

</div>

{% endblock content %}