{% extends 'baseIndex.html' %}

{% block content %}
<div class="container w-50 reset-password">
    <h3 class="col-sm-12 text-center py-3">Restablecimiento de contraseña enviado ✅</h3>
    <p class="text-center">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. <span class="fw-bold">Debería recibirlos en breve.<span></p>
    <p class="text-center">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y <span class="fw-bold">verifique su carpeta de correo no deseado.<span></p>
</div>

{% endblock content %}