{% extends "admin/base_site.html" %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script>
  $(document).ready(function () {
    loadChart(ordersByMonthChar, `/graficos/chart/orders-per-month/${year_firstChart.value}/`);
    loadChart(paymentSuccessChart, `/graficos/chart/order-success/${year_secondChart.value}/`);
    loadChart(earningsPerMonth, `/graficos/chart/earning-total-per-month/${year_thirdChart.value}/`);  
  });

  const reload_first_chart = () =>{
    loadChart(ordersByMonthChar, `/graficos/chart/orders-per-month/${year_firstChart.value}/`);
  }
  const reload_second_chart = () =>{
    loadChart(paymentSuccessChart, `/graficos/chart/order-success/${year_secondChart.value}/`);
  }
  const reload_third_chart = () =>{
    loadChart(earningsPerMonth, `/graficos/chart/earning-total-per-month/${year_thirdChart.value}/`);
  }
  function loadChart(chart, endpoint) {
    $.ajax({
      url: endpoint,
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Extract data from the response
        const title = jsonResponse.title;
        const labels = jsonResponse.data.labels;
        const datasets = jsonResponse.data.datasets;

        console.log(jsonResponse)
        // Reset the current chart
        chart.data.datasets = [];
        chart.data.labels = [];

        // Load new data into the chart
        chart.options.title.text = title;
        chart.options.title.fontSize = 18;

        chart.options.title.display = true;
        chart.data.labels = labels;
        datasets.forEach((dataset) => {
          chart.data.datasets.push(dataset);
        });
        chart.update();
      },
      error: () =>
        console.log("Failed to fetch chart data from " + endpoint + "!"),
    });
  }

</script>
<div class="col-xl-12 col-sm-12 d-flex justify-content-center align-items-center text-center">
  <h1 class="text-info">Reportes estadísticos</h1>
</div>
<div class="row col-12 d-flex justify-content-around" id="main-section">
  <div class="col-xl-12 col-sm-12 mt-5 card border">
    <div class="d-flex flex-wrap justify-content-between">
      <section class="seccion1">
        <span class="font-weight-bold">Año:</span> 
        <select id="year_firstChart" class="mt-2" style="border-radius:20%; border: 4px solid #eaeaea; outline:none">
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
        </select> 
        <button onclick="reload_first_chart()" style="border-radius:20%; border: 2px solid #eaeaea; outline:none">Ir</button> 
      </section> 
      <section class="seccion2">
        <button id="downloadFirstChart" class="btn btn-primary shadow ">PDF</button>
      </section> 
    </div>
    <canvas id="ordersByMonthChart"></canvas>
  </div>

  <div class="col-xl-5 mt-5 card border">
    <div class="d-flex flex-wrap justify-content-between">
        <section class="seccion1">
          <span class="font-weight-bold">Año:</span> 
          <select id="year_secondChart" class="mt-2" style="border-radius:20%; border: 4px solid #eaeaea; outline:none">
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
          </select> 
          <button onclick="reload_second_chart()" style="border-radius:20%; border: 2px solid #eaeaea; outline:none">Ir</button> 
        </section>
        <section class="seccion2">
          <button id="downloadSecondChart" class="btn btn-primary shadow ">PDF</button>
        </section> 
    </div>
    <canvas id="paymentSuccessChart" height="400" width="500"></canvas>
  </div>

  <div class="col-xl-12 col-sm-12 mt-5 card border">
    <div class="d-flex flex-wrap justify-content-between">
        <section class="seccion1">
          <span class="font-weight-bold">Año:</span> 
          <select id="year_thirdChart" class="mt-2" style="border-radius:20%; border: 4px solid #eaeaea; outline:none">
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
          </select> 
          <button onclick="reload_third_chart()" style="border-radius:20%; border: 2px solid #eaeaea; outline:none">Ir</button> 
        </section>
        <section class="seccion2">
          <button id="downloadThirdChart" class="btn btn-primary shadow ">PDF</button>
        </section>
    </div>
    <canvas id="earningsPerMonth"></canvas>
  </div>
</div>

<script>
//Gráfico Barras de pedidos por mes. 
let ordersByMonthChartCtx = document.querySelector("#ordersByMonthChart");
let ordersByMonthChar = new Chart(ordersByMonthChartCtx, {
    type: 'bar',// Tipo de gráfica
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
        },
    }
});

//Gráfico Torta de pedidos cancelados VS. completados 
let paymentSuccessCtx = document.getElementById("paymentSuccessChart").getContext("2d");
let paymentSuccessChart = new Chart(paymentSuccessCtx, {
  type: "pie",
  options: {
    responsive: true,
    legend: {
      display: true,
      position: "bottom",
      labels: {
        fontColor: "#333",
        fontSize: 16,
      },
    },
    layout: {
      padding: {
        left: 0,
        right: 0,
        top: 10,
        bottom: 25,
      },
    },
    
  },
});

// Gráfico de Lineas total del pedidos por mes.
let earningsPerMonthCtx = document.getElementById("earningsPerMonth");
let earningsPerMonth = new Chart(earningsPerMonthCtx, {
  type: 'line',
  options:{   

  }
});

let firstChart = document.getElementById("ordersByMonthChart"); 
let secondChart = document.getElementById("paymentSuccessChart"); 
let thirdChart = document.getElementById("earningsPerMonth"); 

document.addEventListener("click", e =>{
    if(e.target.id === 'downloadFirstChart'){
      downloadChartsToPDF(firstChart)
    }
    if(e.target.id === 'downloadSecondChart'){
      downloadChartsToPDF(secondChart)
    }
    if(e.target.id === 'downloadThirdChart'){
      downloadChartsToPDF(thirdChart)
    }
})

const downloadChartsToPDF = (chart)=>{
    let d = new Date();
    let n = d.toISOString();
    let imgData = chart.toDataURL("image/png", 1.0);
    let pdf = new jsPDF({
      orientation: "l",
      unit: "mm",
      format: [270,150]
    });
    pdf.addImage(imgData, "JPEG", 5, 5);
    pdf.save(n+"-graf01.pdf");
}
</script>
{% endblock %}
