{% extends 'baseIndex.html' %}
{% block title %} Dirección{% endblock%}
{% load static %}
{% block content %}
<div class="container bg-white rounded-3 d-flex justify-content-around align-content-start flex-wrap">  
    <div class="steps col-xl-10 col-sm-12 m-3">
        {% include 'Pedidos/stepByStep.html' %}
    </div>
    <div class="col-xl-11 col-sm-12 p-3">
        
        <div class="card border-dark shadow">
            <div class="card-header h4" style="background-color: #F37828;">
                <div class="fw-bold text-center">Confirma tu pedido</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 border-end">
                        <h6 class="fw-bold">Dirección de envio</h6>
                        <div class="card-text">
                            {{ shipping_address.address }}
                        </div>
                        <div class="card-text">
                            {{ shipping_address.neighborhood }}
                        </div>
                        <div class="card-text">
                            {{ shipping_address.zone }}
                        </div>
                    </div>
                    <div class="col-xl-4  border-end">
                        <h6 class="fw-bold">Método de pago</h6>
                        {% if order.billing_profile %}
                        <div class="card-text">
                            Tarjeta con número *****{{order.billing_profile.last4}}
                        </div>
                        {% else %}
                        <div class="card-text">
                            Tarjeta con número *****1234
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-4">
                        <h6 class="fw-bold">Código de descuento</h6>
                        <form class="d-flex" id="promoCodeForm" action="{% url 'promo_code:validate' %}">
                            <input type="text" style="border-radius:20px 0px 0px 20px" id="code" name="code" value="{{order.promo_code.code}}" class="formulario__input" placeholder="Ej: AAD576" {% if order.promo_code %}readonly disabled{% endif %}>
                            <button type="submit" class="btn btn-success" style="border-radius:0px 20px 20px 0px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icon-tabler-search" viewBox="0 0 24 24"><path stroke="none" d="M0 0h24v24H0z"/><circle cx="10" cy="10" r="7"/><path d="m21 21-6-6"/></svg>
                            </button>
                        </form>
                        <div class="fw-bold fst-italic text-success" id="promoCodeSuccess">
                            {% if order.promo_code %}
                                ¡Código aplicado!
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 p-3">
        <div class="card">
            {% include 'Pedidos/orderProducts.html' %}
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 p-3 d-flex justify-content-end flex-wrap align-content-between">
        <div class="card col-12">
            {% include 'Pedidos/orderResume.html'%}
        </div>
        <div class="fw-bold h5 pt-4">
            <a href="{% url 'Orders:cancel' %}" class="btn btn-danger fw-bold m-0 p-2">Cancelar pedido</a>
            <a href="{% url 'Orders:created' %}" class="btn fw-bold m-0 p-2 text-white" style="background-color:#F37828">Confirmar pedido</a>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
    <script>
        const form = document.getElementById("promoCodeForm")
        form.addEventListener('submit', (e)=>{
            e.preventDefault();
            const input = document.getElementById("code");
            const code = input.value;
            const url = form.action + "?code=" + code
            const total = document.getElementById("orderTotal")
            const txtSuccess = document.getElementById("promoCodeSuccess")
            const orderDiscount = document.getElementById("orderDiscount")
            fetch(url)
                .then(res=>res.json())
                .then(data=> {
                    if(data.status){
                        total.innerHTML = `Total a pagar: $${data.total}`
                        orderDiscount.innerHTML = `Descuento: $${data.discount}`
                        txtSuccess.classList.remove('text-danger');
                        txtSuccess.classList.add('text-success');
                        txtSuccess.innerHTML = '¡Código aplicado!';
                        input.setAttribute('disabled', '');
                    }else{
                        txtSuccess.innerHTML = '¡Uups... código no valido!';
                        txtSuccess.classList.remove('text-success');
                        txtSuccess.classList.add('text-danger');
                    }
                })
        })
    </script>
{% endblock %}