{% extends 'baseIndex.html' %}
{% block title %} Catalogo {% endblock %} 
{% block css %} 
{% endblock css %} 
{% block content %} 
{% if messages %} 
  {% for m in messages %}
    {% if m.tags == 'success' %}
      <script type="text/javascript">
        const mensajeExito = () => {
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });

          Toast.fire({
            icon: "success",
            title: "{{ m }}",
          });
        };
        mensajeExito();
      </script>
    {% else %}
      <script type="text/javascript">
        const mensajeError = () => {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "{{ m }}",
          });
        };
        mensajeError();
      </script>
    {% endif %} 
  {% endfor %} 
{% endif %}
<main role="main">
  <div class="container d-flex flex-wrap justify-content-around gap-4">
    {% if not user.is_authenticated %} {% include 'carousel.html' %} {% endif %}
    {% for p in product_list %} 
    <div class="card-product grow">
      <div class="card-head">
        <img
          src="{{p.image_product.url}}"
          alt="{{p.name}} imagen"
          width="200px"
          height="200px"
          class="img-responsive"
        />
      </div>
      <div class="card-body">
        <div class="product-desc">
          <span class="product-title">
            <strong>{{p.name}}</strong>
            {% if p.status == 0 and p.stock != 0 %}
              <span class="badge-status">Disponible</span>
            {% else %}
              <span class="badge-status bg-danger">Agotado</span>
            {% endif %}
          </span>
          <span class="product-caption"> {{p.descripction}} </span>
        </div>
        <div class="product-properties">
          {% load humanize %}
          <span class="product-price">$ {{p.price|intcomma }} COP</span>
            {% if p.status == 0 and p.stock != 0%}
              <a href="{% url 'product_detail' p.slug %}" class="button-detail text-white shadow fw-bold">
                Ver detalle
              </a>
            {% else %}
              <button class="button-detail text-white shadow fw-bold" disabled>
                Ver detalle
              </button>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include 'paginator.html' %}
</main>
{% endblock content%}
