{% extends 'baseIndex.html' %}
{% block title %} Perfil{% endblock%}

{% block css %}
<style>
    .user-card-color{
        background: #F37828;
        background: linear-gradient(135deg, #F37828 8%, #c82930 83%);
        border-radius: 25px;
        color: #fff;
        transition: box-shadow .2s, transform
    }
    .user-card-color:hover{
        box-shadow: 0px 0px 20px rgba(0,0,0,1)
    }
</style>
{% endblock css %}

{% block content %}
<div class="container p-3 d-flex justify-content-center">
    <div class="text-center p-4 user-card-color" id="card">
        <img src="https://cdn-icons-png.flaticon.com/512/4646/4646084.png" alt="user image" width="200px" height="200px"/>   
        <h3 class="first_name">{{request.user.first_name}}<a href="#" id="editName">🖊️</a></h3>
        <form class="form_name d-none pt-2" method="POST" action="{% url 'Users:update_personal_information' %}">
            {% csrf_token %}
            <input type="text" name="new_name" id="new_name" class="form-control text-center formulario__input" value="{{request.user.first_name}}" required/>
            <button type="submit" id="btnSaveName" style="border:none; outline:none">🖊️</button>
        </form>
        <h3 class="last_name">{{request.user.last_name}}<a href="#" id="editLastName">🖊️</a></h3>
        <form class="form_last_name d-none pt-2" method="POST" action="{% url 'Users:update_personal_information' %}">
            {% csrf_token %}
            <input type="text" name="new_last_name" id="new_last_name" class="form-control text-center formulario__input" value="{{request.user.last_name}}" required/>
            <button type="submit" id="btnSaveLastName" style="border:none; outline:none">🖊️</button>
        </form>
        <hr>
            <p><span class="fw-bold">Identificación:</span> {{request.user.dni}}</p>     
            <p><span class="fw-bold">Correo electrónico:</span> {{request.user.email}}</p>
            <p><span class="fw-bold">Registrado el:</span> {{request.user.date_joined.date}}</p>
        <hr>
        <a href="{% url 'change_password' %}" class="text-white">Cambiar contraseña</a>
    </div>
</div>
{% endblock  %}
{% block js %}
    <script>
        const firstName = document.querySelector(".first_name")
        const formName = document.querySelector(".form_name")
        const btnEditName = document.getElementById("editName")
        const lastName = document.querySelector(".last_name")
        const formLastName = document.querySelector(".form_last_name")
        const btnEditLastName = document.getElementById("editLastName")

        const inputNewName = document.getElementById("new_name")
        const inputNewLastName = document.getElementById("new_last_name")
        const btnSaveName = document.getElementById("btnSaveName")
        const btnSaveLastName = document.getElementById("btnSaveLastName")

        btnEditName.addEventListener('click',()=>{
            firstName.classList.add("d-none");
            formName.classList.remove("d-none")
            formName.classList.add("d-flex")
        })
        btnEditLastName.addEventListener('click',()=>{
            lastName.classList.add("d-none");
            formLastName.classList.remove("d-none")
            formLastName.classList.add("d-flex")
        })

        btnSaveName.addEventListener("click",(e)=>{
            if (!isNaN(inputNewName.value) || !isNaN(inputNewLastName.value)){
                e.preventDefault();
                formName.innerHTML+='<p class="fw-bold text-danger">No puedes usar números*</p>'
            }
        })
        btnSaveLastName.addEventListener("click",(e)=>{
            if (!isNaN(inputNewLastName.value)){
                e.preventDefault();
                formLastName.innerHTML+='<p class="fw-bold text-danger">No puedes usar números*</p>'
            }
        })

        const el = document.getElementById("card");
        const { clientWidth, clientHeight } = el;
        el.addEventListener("mouseover", (event) => {
            const { layerX, layerY } = event
            const yRotation = ((layerX - clientWidth / 2) / clientWidth ) * 5
            const xRotation = ((layerY - clientHeight / 2) / clientHeight ) * 5
            const string = `
                perspective(500px)
                scale(1.1)
                rotateX(${xRotation}deg)
                rotateY(${yRotation}deg)`
            el.style.transform = string
        })

        el.addEventListener("mouseout", ()=>{
            el.style.transform = `
            perspective(500px)
            scale(1)
            rotateX(0deg)
            rotateY(0deg)`
        })
    </script>
{% endblock js %}